
/***********
Color Variables
************/

html {
    --color-off-white: #fafafa;
    --color-dark-grey: rgb( 56, 56, 56 );
    --color-grey: #E5E5E5;
    --color-purple: rgb( 188, 162, 213 );
    --color-purple-dark: #6C6275;
    --color-green: rgb( 184, 248, 235 );
    --color-salmon: #FF6575;
    --color-blue: #3F53D9;
    --color-blue-dark: #293ECC;
    --color-blue-extra-dark: #050038;
    --color-pink: #FFBFBF;
    --color-transparent-black: rgba( 0, 0, 0, .2 );
    --color-purple-green-gradient: linear-gradient(45deg, rgb( 188, 162, 213 ) 0%, aquamarine 100%);

    scroll-behavior: smooth;
}


/***
Typography
*/
html {
    --size-ratio: 1.333; 
    --size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
    --size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
    --size-one-up: calc( 1rem * var(--size-ratio) );
    --size-one-down: calc( 1rem / var(--size-ratio) );
    font-size: 16px;

    color: var(--color-blue-extra-dark);

    font-family: itc-avant-garde-gothic-pro, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility;
}

h1 {
   font-size: var(--size-three-up); 
   margin: 5rem 0 2rem;
}

h2 {
    font-size: var(--size-three-up);
    margin: 3rem 0 4rem;
}

h3 {
    font-size: var(--size-one-up);
}

h4 {
    font-size: var(--size-one-up);
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover {
    background-color: var(--color-salmon);

}

a:focus {
    background-color: var(--color-salmon);
    
    outline: 2px solid var(--color-salmon);
}

.featured-paragraph {
    font-size: var(--size-one-up);
    margin: 2rem 0 0;
}

li {
    list-style-type: circle;
}


@media ( min-width: 600px ) {
    h2 {
        font-size: var(--size-four-up);
    }
    h3 {
        font-size: var(--size-two-up);
    }
    .about .featured-paragraph {
        margin: 2rem;
    }
}

@media ( min-width: 1032px ) {
    html {
        font-size: 18px;
    }
    h3 {
        font-size: var(--size-three-up);
    }

}
/***
Layout
*/

body {
    background-color: white;
    margin: auto;
    max-width: 904px;
}

.hero-text {
    margin: 0;
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    height: 1px;
    outline: none;
    background-color: var(--color-blue-extra-dark);
    border: none;
    margin-top: 1rem;
}

main {
    margin: 2rem;
    animation: fadein 1.5s;
}

.heading::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 6rem;
    background: var(--color-salmon);
    vertical-align: middle;
    margin-right: .75rem;
}

blockquote {
    max-width: 16rem;
}

@keyframes fadein {
    from { 
        opacity: 0; 
    }

    to { 
        opacity: 1; 
    }
}

@media ( min-width: 992px ) {
    main {
        margin: 2rem;
    }
}

/***
Nav
*/


nav ul {
    padding-left: 0;
    margin: 0;
}
				
nav li {
	list-style: none;
}
				
nav a {
    color: var(--color-blue-extra-dark);
    display: block;
    font-size: 1rem;
    font-weight: 500;
	padding: .5rem .75rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav a:visited  {
    color: var(--color-blue-extra-dark);
}

nav a:hover {
    color: white;
    outline: none;
    transition: all .2s ease-in-out;
}

nav a:focus {
    color: white;
}
nav a:active {
    color: white;
    background-color: var(--color-salmon);
}

.escape-hatch {
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin-left: auto;
}



.escape-hatch:hover {
    background-color: transparent;
    color: var(--color-salmon);
}

.escape-hatch:focus {
    background-color: transparent;
    color: var(--color-salmon);

}

.nav-links {
    display: none;
}

.mobile-nav {
    align-items: center;
    background: rgba( 255, 255, 255, .9);
    display: flex;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.desktop-nav {
    display: none;
}

@media ( min-width: 448px ) {
    .escape-hatch {
        margin-left: 0;
        right: 20%;
        left: 20%;
        text-align: center;
    }
}
@media ( min-width: 760px ) {

    h1 {
        font-size: var(--size-six-up); 
    }
    .escape-hatch {
        font-size: var(--size-two-up);
    }
}

@media ( min-width: 992px ) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        align-items: center;
        display: flex;
    }
    
    nav {
        margin: 0 1rem;
        padding: 2rem 0;
    }

	nav a {
		border: none;
        display: inline-block;
    }
    
    nav ul {
        margin-left: auto;
    }
	
	nav li {
		display: inline-block;
	}

    .nav-links, .toggle-active .nav-links {
        animation: none;
        display: block;
        top: 4rem;
    }

    .escape-hatch {
        margin-left: 0;
        margin-right: auto;
        position: absolute;
        left: initial;
        right: initial;
        text-align: initial;
    }
    
 
}


/***********
Footer
************/

footer {
    background-color: var(--color-blue);
    color: white;
    height: 50vh;
    padding: 1rem;
}

footer small {
    font-size: var(--size-one-up);
    margin-bottom: 1rem;
}

footer ul {
    margin-bottom: 1rem;
    padding: 0;
}

footer li {
    display: block;
}

footer a {
    color: white;
    font-size: var(--size-two-up);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer a:visited {
    color: var(--color-light-grey);
}

footer a:hover {
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

@media ( min-width: 760px ) {

    footer {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    footer ul {
        margin-bottom: 2rem;
    }
    footer li {
        display: inline-block;
        padding: 0;
    }

    footer a {
        font-size: var(--size-three-up);
        padding: .5rem 1rem .5rem;
    }

    .footer-br {
        display: none;
    }
}

/***********
Buttons & Forms
************/

.main-contact {
    padding-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 40rem;
    padding: 2rem;
}

.main-contact form div {
    text-align: right;
}

form input[type="text"], form input[type="email"], form textarea, form button {
    border: 1px solid var(--color-blue);
    box-shadow: 3px 3px 0 -2px var(--color-blue);
    color: var(--color-light-grey);
    font-size: var(--size-one-up);
    margin: .5rem 0 1rem;
    padding: .5rem;
    transition: all .3s ease-in-out;
    -webkit-appearance: none;
}

input:focus, textarea:focus, button:focus {
    box-shadow: 3px 3px 0 var(--color-salmon);
    outline: none;
    transition: all .3s ease-in-out;
}

form input:hover, form textarea:hover {
    box-shadow: 3px 3px 0 var(--color-salmon);
    transition: all .3s ease-in-out;
}

input {
    -webkit-border-radius:0; 
    border-radius:0;
}

textarea {
    max-width: 100%;
    min-height: 4rem;

    -webkit-border-radius:0; 
    border-radius:0;
} 

button {
    color: var(--color-blue-extra-dark);
    background-color: white;
    padding: .5rem 1rem;
}

button:hover {
    box-shadow: 3px 3px 0 var(--color-salmon);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

label {
    color: var(--color-blue-extra-dark);
}

::placeholder {
    font-size: 1rem;
}

/***
Resume
*/


.resume {
    margin: 2rem 0;
    max-width: 100%;
    padding-bottom: 1rem;
}

.resume-info-block {
    box-sizing: border-box;
    color: var(--color-blue-extra-dark);
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    padding: 2rem 0;
    width: 1240px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.resume-info-block .pdf-link {
    text-align: right;
    background-color: var(--color-blue);
    color: white;
}

.resume-info-block a {
    color: var(--color-blue-extra-dark);
    display: inline-block;
    /* max-width: 30rem; */
    padding: .25rem;
    text-decoration: none;
}

.resume-info-block a:hover {
    background-color: var(--color-salmon);
    color: white;
} 

.resume-info-block a:focus {
    color: white;
}

.resume-info-block h2, .skills-box h2 {
    color: var(--color-blue-extra-dark);
    font-size: var(--size-three-up);
    margin-bottom: 0;
    padding: 0;
    text-shadow: none;
}

.resume-info-block h3 {
    color: var(--color-blue-extra-dark);
}

.resume p {
    line-height: 1.4;
    margin: 1rem auto;
}

.resume ul {
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0 2rem;
    max-width: 400px;
    padding: 0 1rem;
}

.resume h3 {

    margin: 2rem 0 0 0 ;
}

.resume h4 {
    color: var(--color-blue);
    margin: .5rem 0;
    max-width: 30rem;
}

.skills-box {
    box-sizing: border-box;
    color: var(--color-blue-extra-dark);
    margin: auto;
    padding: .5rem;
    max-width: 100%;
    width: 1240px;
}

.skills-box div {
    margin: 1rem 0;
    max-width: 400px;
}

.experience-box {
    box-sizing: border-box;
    color: var(--color-blue-extra-dark);
    margin: auto;
    padding: 0 .5rem 2rem;
    max-width: 100%;
    width: 1240px;
}

.experience-box div {
    margin: 1rem 0;
}


@media ( min-width: 600px ) {

    .skills-box, .experience-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }

}

@media ( min-width: 1025px ) {

    .graphic-box {
        background-attachment: fixed;
    }

}

/***
About
*/

.about {
    background-color: var(--color-blue);
    color: white;
    padding: 2rem;
}

.about .link-button, .about .link-button:visited {
    background-color: white;
    color: var(--color-blue-dark);
    margin-top: 2rem;
}

.about .link-button:hover {
    box-shadow: 3px 3px 0 var(--color-salmon);
}

/**
Menu Icon
*/


nav button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

nav button:hover {
    background-color: transparent;
    box-shadow: none;
}

nav button:focus {
    box-shadow: none;
    outline: none;
}

.menu-icon {
    display: inline-block;
    padding: .5rem;
    position: relative;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.bar1, .bar2, .bar3 {
    background-color: var(--color-blue-extra-dark);
    border-radius: .2rem;
    height: 2px;
    margin: .5rem 0;
    transition: .5s;
    width: 28px;
}

.toggle-active .bar1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translate(8px, 6px);
}

.toggle-active .bar2 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media ( min-width: 992px ) {

    .menu-icon {
        display: none;
    }
}

/***
Overlay
*/

.menu-overlay {
    background-color: var(--color-pink);
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 4.5rem;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-menu a {
    color: #fff;
    font-size: var(--size-three-up);
    font-weight: 700;
    line-height: 1.6;
}

.overlay-menu a:visited {
    color: white;
}

.toggle-active .menu-overlay {
    opacity: .95;
    visibility: visible;
}



@media ( min-width: 600px ) {

    .overlay-menu a {
        font-size: var(--size-five-up);
    }
}

@media ( min-width: 992px ) {

    .menu-overlay {
        display: none;
    }
}

/***
link-button
*/

.link-button {
    background-color: var(--color-blue);
    color: white;
    display: inline-block;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.hero-text .link-button {
    font-size: 1rem;
    padding: .5rem 1rem;
}

.link-button:visited {
    color: white;
}

.link-button:hover {
    background-color: var(--color-blue-dark);
    box-shadow: 3px 3px 0 var(--color-salmon);
    color: white;
    transition: all .3s ease-in-out;
}



@media ( min-width: 760px ) {
    .hero-text .link-button {
        font-size: var(--size-three-up);
        padding: 1rem 2rem;
    }
}
/***
Work Section
*/

.work-list {
    margin: 6rem 0;
    
}

.work-card  {
    margin: 2rem 0;
    max-width: 100%;
}

.card-text a h2, .card-text a h3 {
    color: var(--color-blue-extra-dark);
    margin: 0 0 .5rem;
}

.card-text p {
    font-size: var(--size-one-up);
    font-weight: 300;
    margin: 0 0 1rem;
}

.work-card img {
    background-color: white;
    max-width: 100%;
    margin: 0 0 2rem;
    transition: all .3s ease-in-out;
}

.work-card img:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
}

.tags-container {
    text-align: right;
    margin: 1rem 0;
}

.work-tag {
    background-color: var(--color-salmon);
    border-radius: 2rem;
    display: inline-block;
    color: white;
    margin: .5rem .25rem;
    padding: .5rem 1rem;
}

@media ( min-width: 1032px ) {
    .work-list {
        margin: 6rem auto;
        max-width: 1000px;
    }

}

/***
Case Study
*/

.casestudy-main {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(1,1fr);
    margin: 6rem 2rem;
}

.casestudy-main blockquote {
    background-color: var(--color-blue);
    color: white;
    display: inline-block;
    padding: 1rem;
    margin: 1rem 0 0;
}

.casestudy-main h2 {
    margin-bottom: 2rem;
}

.casestudy-main ul {
    list-style: inside;
    padding-left: 0;
    line-height: 1.8;
}

.casestudy-main h3 {
    margin-bottom: 0
}

.casestudy-main img {
    margin-top: 0;
}

.line-break::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--color-blue-extra-dark);
}

footer .line-break::after {
    background-color: white;
}

.casestudy-main .casestudy-img:hover {
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
}

video {
    height: auto;
    width: 100%;
}

@media ( min-width: 812px ) {
    .casestudy-main {
        grid-template-columns: repeat(2,1fr);

    }
    .casestudy-main .hero-text, .casestudy-main ul, .casestudy-subnav, .casestudy-main h2, .casestudy-main .featured-paragraph, .casestudy-main .hero-img, .casestudy-main blockquote, .casestudy-main div {
        grid-column: 1 / span 2;
    }

}

/***
Casestudy Sub Nav
*/

.casestudy-subnav {
    display: inline-block;
    margin: 0;
    padding: 0;
}
/***
extras
*/

/* .blinking-cursor {
    font-weight: 100;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
} */

.hero-h1 span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-weight: 500;
}

@keyframes blink {
    
    0% {
      opacity: 0;
    }
    
    20% {
      opacity: 1;
    }
    
    100% {
      opacity: 0;
    }
}
/* 
@keyframes "blink" {
    from, to {
    color: transparent;
    }
    50% {
    color: var(--color-blue-extra-dark);
    }
}

@-moz-keyframes blink {
    from, to {
    color: transparent;
    }
    50% {
    color: var(--color-blue-extra-dark);
    }
}

@-webkit-keyframes "blink" {
    from, to {
    color: transparent;
    }
    50% {
    color: var(--color-blue-extra-dark);
    }
}

@-ms-keyframes "blink" {
    from, to {
    color: transparent;
    }
    50% {
    color: var(--color-blue-extra-dark);
    }
}

@-o-keyframes "blink" {
    from, to {
    color: transparent;
    }
    50% {
    color: var(--color-blue-extra-dark);
    }
} */