@import url('https://fonts.googleapis.com/css?family=Baskervville|Lato:300,400&display=swap');

/***********
Color Variables
************/

html {
    --color-off-white: #fafafa;
    --color-dark-grey: rgb( 56, 56, 56 );
    --color-light-grey: rgb( 99, 99, 99 );
    --color-purple: rgb( 188, 162, 213 );
    --color-purple-dark: #6C6275;
    --color-green: rgb( 184, 248, 235 );
    --color-blue: #91d3ed;
    --color-pink: #E91C8E;
    --color-transparent-black: rgba( 0, 0, 0, .2 );
    --color-purple-green-gradient: linear-gradient(45deg, rgb( 188, 162, 213 ) 0%, aquamarine 100%);
}

/***********
Typography
************/

html {
    --size-ratio: 1.15; 
    --size-six-up: calc( var(--size-five-up) * var(--size-ratio) );
    --size-five-up: calc( var(--size-four-up) * var(--size-ratio) );
	--size-four-up: calc( var(--size-three-up) * var(--size-ratio) );
	--size-three-up: calc( var(--size-two-up) * var(--size-ratio) );
	--size-two-up: calc( var(--size-one-up) * var(--size-ratio) );
    --size-one-up: calc( 1rem * var(--size-ratio) );

    color: var(--color-dark-grey);
    font-family: 'Lato', arial, sans-serif;
}

h1 {
    color: var(--color-dark-grey);
    font-family: 'Baskervville', serif;
    font-size: var(--size-six-up);
    font-weight: 400;
    margin: 2rem 0;
    padding: 0 .5rem;
    text-align: center;
}

h2 {
    font-size: var(--size-five-up);
}

h3 {
    font-size: var(--size-four-up);   
}

h4 {
    font-size: var(--size-three-up);
}

h5 {
    font-size: var(--size-two-up);
}

h6 {
    font-size: var(--size-one-up);
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: .5rem 0;
}

p {
    margin: 2rem auto;
    max-width: 40rem;
}

a {
    color: var(--color-pink);
    text-decoration: none;
}

a:visited {
    color: var(--color-pink);
}

a:hover {
    color: var(--color-purple);
}

a:focus {
    transform: translateX(4px) translateY(4px);
    outline-color: var(--color-pink);
}

a:active {
    color: var(--color-purple);
}

li {
    margin: .5rem 0;
}

p .link-text {
    box-shadow: none;
    color: var(--color-pink);
    text-decoration: none;
}

p .link-text:hover {
    box-shadow: none;
    color: var(--color-blue);
}

.paragraph-featured {
    font-size: var(--size-one-up);
    font-weight: 300;
    line-height: 1.6;
    margin: 1rem auto 1rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

blockquote {
    border-radius: .2rem;
    box-shadow: -6px -6px var(--color-dark-grey);
    display: inline-block;
    grid-column-end: 13;
    grid-column-start: 1;
    margin: .5rem 0 2rem;
    max-width: 700px;
    padding: 1rem 2rem;
    text-align: center;
}

blockquote em {
    font-size: var(--size-four-up);
}

cite {
    text-align: right;
}

@media ( min-width: 660px ) {

    html {
        --size-ratio: 1.2;
    }
}

@media ( min-width: 1320px ) {

    html {
        font-size: 18px;
    }
}

/***********
Master Layout
************/

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
}

main {
    margin: 0;
    padding-top: 8rem;
}

article {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

/***********
Header 
************/

header {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
    left: 0;
    opacity: .95;
    padding: 2rem;
    position: absolute;
    right: 0;
    z-index: 1;
}




/***********
Nav
************/

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav a {
    background-color: var(--color-off-white);
    border-radius: .2rem;
    box-shadow: 0 15px 20px -10px var(--color-transparent-black);
    color: var(--color-dark-grey);
    font-family: 'Baskervville', serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: .5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: all .6s ease-in-out;
}

nav a:visited {
    color: var(--color-dark-grey);
}

nav a:hover {
    background: var(--color-purple-green-gradient);
    background-color: var(--color-green);
    border: none;
    color: var(--color-off-white);
    transition: all .5s ease-in-out;
}

nav .escape-hatch {
    animation: shadow-pop-reset .4s cubic-bezier(.470, .0, .745, .715) both;
    background: var(--color-purple-green-gradient);
    border: none;
    border-radius: .2rem;
    height: 2rem;
    margin-left: 0;
    padding: .5rem 1rem 1rem .5rem;
    width: 2rem;
}

.escape-hatch:hover {
    animation: shadow-pop-tl .4s cubic-bezier(.470, .0, .745, .715) both;
}

.nav-links {
    display: none;
    left: 2%;
    margin: 0;
    position: absolute;
    right: 2%;
    text-align: center;
    top: 7rem;
}

.toggle-active .nav-links {
    animation: nav-fade-in .4s ease-in-out;
    display: block;
    position: absolute;
}

.nav-links a {
    display: inline-block;
}

.current-page {
    box-shadow: 0 15px 20px -10px var(--color-purple);
}

@keyframes nav-fade-in {

    0% {
        opacity: 0;
        transform: translateX(0) translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes shadow-pop-reset {

    0% {
        box-shadow: -1px -1px var(--color-dark-grey), -2px -2px var(--color-dark-grey), -3px -3px var(--color-dark-grey), -4px -4px var(--color-dark-grey), -5px -5px var(--color-dark-grey), -6px -6px var(--color-dark-grey), 0 15px 20px -10px var(--color-transparent-black);
        transform: translateX(8px) translateY(8px);
    }

    100% {
        box-shadow: 0 0 var(--color-dark-grey), 0 15px 20px -10px var(--color-transparent-black);
        transform: translateX(0) translateY(0);
    }
}

@keyframes shadow-pop-tl {

    0% {
        box-shadow: 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey), 0 0 var(--color-dark-grey),0 15px 20px -10px var(--color-transparent-black);
        transform: translateX(0) translateY(0);
    }

    100% {
        box-shadow: -1px -1px var(--color-dark-grey), -2px -2px var(--color-dark-grey), -3px -3px var(--color-dark-grey), -4px -4px var(--color-dark-grey), -5px -5px var(--color-dark-grey), -6px -6px var(--color-dark-grey), 0 15px 20px -10px var(--color-transparent-black);
        transform: translateX(8px) translateY(8px);
    }
}



@media ( min-width: 500px ) {

    .nav-links, .toggle-active .nav-links {
        position: initial;
    }
}

@media ( min-width: 860px ) {

    .escape-hatch {
        animation: none;
    }
}

@media ( min-width: 1094px ) {


    .nav-links, .toggle-active .nav-links {
        display: block;
        margin-left: auto;
        position: initial;
    }
}

/***********
Menu Component
************/

nav button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

nav button:hover {
    background-color: transparent;
    box-shadow: none;
}

nav button:focus {
    box-shadow: none;
}

.menu-icon {
    display: inline-block;
    padding: .5rem;
  }

.bar1, .bar2, .bar3 {
    background-color: var(--color-dark-grey);
    border-radius: .2rem;
    height: 3px;
    margin: 6px 0;
    transition: .5s;
    width: 34px;
}

.toggle-active .bar1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-active .bar2 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-active .bar3 {
    -webkit-transform: rotate(90deg) translate(-16px, 0);
    transform: rotate(90deg) translate(-16px, 0);
}

@media ( min-width: 1094px ) {

    .menu-icon {
        display: none;
    }
}

/***********
Buttons & Forms
************/

.link-contact {
    background-color: var(--color-purple);
    border: 1px solid transparent;
    border-radius: .2rem;
    color: var(--color-off-white);
    font-size: var(--size-one-up);
    max-width: 8rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.link-contact:visited {
    color: var(--color-off-white);
}

.link-contact:hover {
    background: var(--color-purple-green-gradient);
    background-color: var(--color-green);
    border: 1px solid white;
    color: var(--color-off-white);
    transition: all .3s ease-in-out;
}

.main-contact form {
    background: var(--color-purple);
    border: 2px solid white;
    border-radius: .2rem;
    box-shadow: 3px 3px 0 aquamarine;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 35rem;
    padding: 2rem;
}

.main-contact form div {
    text-align: right;
}

input[type="text"], input[type="email"], textarea, button {
    border: 2px solid var(--color-purple);
    border-radius: .2rem;
    color: var(--color-light-grey);
    font-size: 1rem;
    margin: .5rem 0 1rem;
    padding: .5rem;
    transition: all .3s ease-in-out;
    -webkit-appearance: none;
}

input:focus, textarea:focus, button:focus {
    box-shadow: 3px 3px 0 aquamarine;
    outline: none;
    transition: all .3s ease-in-out;
}

input:hover, textarea:hover {
    box-shadow: 3px 3px 0 aquamarine;
    transition: all .3s ease-in-out;
}

textarea {
    max-width: 100%;
    min-height: 4rem;
} 

button {
    color: var(--color-purple-dark);
    background-color: white;
    padding: .5rem 1rem;
}

button:hover {
    border-color: transparent;
    box-shadow: 3px 3px 0 rgba(56, 56, 56, .6);
    background-color: aquamarine;
    color: var(--color-purple-dark);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

label {
    color: var(--color-off-white);
}

/***********
Footer
************/

footer {
    margin-top: 1rem;
    padding: 1rem;
}

footer small {
    margin-bottom: 1.5rem;
}

footer ul {
    margin-bottom: 1rem;
    padding: 0;
}

footer li {
    display: block;
}

footer a {
    color: var(--color-light-grey);
    font-size: .8rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer a:visited {
    color: var(--color-light-grey);
}

footer a:hover {
    color: var(--color-dark-grey);
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

@media ( min-width: 760px ) {

    footer {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
    }

    footer li {
        display: inline-block;
        padding: 0;
    }

    footer a {
        padding: .5rem 1rem .5rem 0;
    }

}
/***********
Home
************/

.main-index {
    padding-top: 0;
}

.icon-down-arrow {
    animation: pulse 2s infinite;
    background: var(--color-purple-green-gradient);
    border-radius: 50%;
    box-shadow: 2px 2px 4px var(--color-transparent-black);
    right: 1rem;
    max-width: 1.2rem;
    opacity: .9;
    padding: 1rem;
    position: absolute;
    bottom: .5rem;
}

.icon-instagram {
    padding-right: .5rem;
    width: 3rem;
}

.link-instagram {
    color: var(--color-dark-grey);
    align-items: center;
    display: flex;
    font-family: cursive;
    justify-content: flex-start;
    margin: 1rem auto 0;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.link-instagram:visited {
    color: var(--color-dark-grey);
}

.link-instagram:hover {
    text-shadow: 2px 2px 8px var(--color-purple);
    transition: all .3s ease-in-out;
}

.link-instagram p {
    margin: 0;
}

.bg-1 {
    background-image: url(images/florida-statue.jpg);
    position: relative;
}

.bg-2 {
    background-image: url(images/nyc-train.jpg);
    min-height: 400px;
}

.bg-3 {
    background-image: url(images/florida-ceiling.jpg);
    min-height: 720px;
}

.bg-4 {
    background-image: url(images/joey-marfa.jpg);
    min-height: 240px;
}

.bg-5 {
    background-image: url(images/willie-and-littlefoot.JPG);
    min-height: 500px;
}

.text-container {
    align-items: center;
    color: var(--color-light-grey);
    background-color:white;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    text-align: center;
}

.text-container h1 {
    font-size: var(--size-two-up);
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.text-container p {
    font-size: 1rem;
    max-width: 24rem;
    text-align: justify;
}

@keyframes pulse {

    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    55% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

}

/***********
Portfolio
************/

.portfolio {
    margin: auto;
}

.portfolio h2 {
    color: var(--color-light-grey); 
    margin: 0;   
    padding: .5rem;
}

@media ( min-width: 660px ) {

    .portfolio-list {
        align-items: start;
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

}

@media ( min-width: 1030px ) {

    .portfolio-list {
        grid-column-gap: 2rem;
    }

}

/************
Portfolio Card
*************/

.portfolio-card {
    background-color: white;
    border: 1px solid #f4f4f4;
    border-radius: .2rem;
    margin: 1rem auto 2rem;
    max-width: 480px;
    position: relative;
    transition: all .5s ease;
}

.portfolio-card:hover {
    box-shadow: 0 0 2px rgba(109, 79, 79, .2), 0 15px 20px -10px var(--color-transparent-black);
}

.portfolio-card img {
    border-radius: .2rem .2rem 0 0;
}

.portfolio-card h5 {
    margin: .5rem 1rem 0rem;
}

.portfolio-card p {
    font-size: var(--size-one-up);
    margin: 0;
    padding: 0 1rem .5rem;
}

@media ( min-width: 660px ) {

    .portfolio-card {
        margin: 1rem 0 0;
    }
}

/***********
Resume
************/

.main-resume {
    margin: 0;
}

.resume {
    margin: auto;
    max-width: 100%;
    padding-bottom: 1rem;
}

.resume h2 {
    color: var(--color-light-grey);
    margin-bottom: 1rem;
    margin-top: 0;
    padding: .5rem;
}

.resume-info-block {
    background: var(--color-purple-green-gradient);
    border-radius: .2rem .2rem 0 0;
    box-sizing: border-box;
    color: var(--color-dark-grey);
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 40vh;
    max-width: 100%;
    padding: 2rem;
    width: 1240px;
}

.resume-info-block a {
    color: var(--color-off-white);
    padding: .25rem;
    text-decoration: none;
}

.resume-info-block h2, .skills-box h2 {
    color: var(--color-off-white);
    font-size: var(--size-five-up);
    margin-bottom: 0;
    padding: 0;
    text-shadow: none;
}

.resume-info-block h3 {
    margin-bottom: var(--size-four-up);
    color: var(--color-off-white);
}

.resume p {
    line-height: 1.4;
    margin: 1rem auto;
}

.resume ul {
    line-height: 1.4;
    margin: 1rem 0 2rem;
    max-width: 400px;
    padding: 0 1rem;
}

.resume li {
    list-style-type: circle;
}

.resume h3 {
    margin-top: 2rem;
}

.resume h4 {
    color: #BBA5D4;
    font-size: var(--size-two-up);
}

.graphic-box {
    background-image: url(images/graphic-box.svg);
    background-position: center;
    background-size: cover;
    height: 1462px;
    margin: auto;
    max-height: 30vh;
    max-width: 100%;
    opacity: .6;
    width: 1240px;
}

.graphic-box-2 {
    background-image: url(images/graphic-box-2.svg);
}

.skills-box {
    background-color: white;
    box-sizing: border-box;
    color: var(--color-dark-grey);
    margin: auto;
    padding: 2rem;
    max-width: 100%;
    width: 1240px;
}

.skills-box div {
    margin: 1rem;
    max-width: 400px;
}

.experience-box {
    background-color: white;
    box-sizing: border-box;
    color: var(--color-dark-grey);
    margin: auto;
    padding: 2rem;
    max-width: 100%;
    width: 1240px;
}

.experience-box div {
    margin: 1rem;
}


@media ( min-width: 600px ) {

    .skills-box, .experience-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

@media ( min-width: 1025px ) {

    .graphic-box {
        background-attachment: fixed;
    }

}

/***********
Hero Component
************/

.hero {
    background-attachment: scroll;
    background-color: var(--color-sand);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 80vh;
    opacity: .7;
    padding: 2rem;
}

.main-portfolio-hero {
    background-image: url(images/content-isometric.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    opacity: .7;
}

.hero-311 {
    background-image: url(images/austin-311/joseph_postiglione_311_interactive_map_home_comp.png);
    background-position: top;
}

.hero-datatune {
    background-image: url(images/datatune/datatune-hero-mobile.png);
}

.hero-ibm {
    background-image: url(images/IBM\ Design\ Challenge\ -\ Joseph\ Postiglione\ \(7\).svg);
}

@media ( min-width: 1025px) {

    .hero {
        background-attachment: fixed;
    }
}


/*----------------------
Portfolio Piece Styles
----------------------*/

.main-portfolio-piece article {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.main-portfolio-piece h1 {
    grid-column-end: 13;
    grid-column-start: 1;
}

.main-portfolio-piece h2 {
    margin-top: 2rem;
    padding: 0 1rem;
}

.main-portfolio-piece h3 {
    text-align: center;
}

.main-portfolio-piece h4 {
    font-size: var(--size-three-up);
    margin: 1rem;
    text-align: center;
}

.main-portfolio-piece p {
    font-size: var(--size-one-up);
    line-height: 1.4;
    max-width: 760px;
    padding: .5rem .5rem 1rem;
    text-align: center;
}

.main-portfolio-piece .dd-info {
    background-color: var(--color-blue);
    grid-column-end: 13;
    grid-column-start: 6;
    margin: .5rem 0 2rem;
}

.main-portfolio-piece .case-study-list {
    grid-column-end: 13;
    grid-column-start: 1;
}

.main-portfolio-piece ul {
    column-width: 220px;
    grid-column-end: 13;
    grid-column-start: 1;
    list-style: none;
    margin: 1rem 2rem;
    max-width: 760px;
    padding: 1rem;
    text-align: center;
}

.main-portfolio-piece li {

    font-size: var(--size-one-up);
    padding: .5rem 0;
}

.main-portfolio-piece img {
    border-radius: .2rem;
    margin: .5rem auto 2rem;
}

.user-feedback-2 {
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: -6px -6px var(--color-dark-grey);
    border-radius: .2rem;
    margin: .5rem auto 2rem;
    max-width: 400px;
    padding: 1rem 2rem;
}

.user-feedback-2 h2 {
    padding-top: 0;
}

.insight {
    background-color: white;
    box-shadow: -6px -6px var(--color-dark-grey);
    border-radius: .2rem;
    margin: .5rem .5rem 2rem;
    max-width: 700px;
    padding: 1rem 2rem;
}

.insight p {
    font-size: var(--size-one-up);
}

.usability-icon {
    background-color: var(--color-blue);
}

.main-portfolio-piece a {
    border-radius: .2rem;
    grid-column-end: 12;
    grid-column-start: 2;
    transition: all .3s ease-in-out;
}

.main-portfolio-piece a img {
    margin: 0 0 1rem;
    transition: all .3s ease-in-out;
}

.main-portfolio-piece a img:hover {
    box-shadow: 0 0 2px var(--color-transparent-black), 0 15px 20px -10px var(--color-transparent-black);
    transition: all .3s ease-in-out;
}

.main-portfolio-piece h2, .main-portfolio-piece h3 {
    margin: 2rem 0 1rem;
    text-align: center;
}

.article-datatune h2 {
    color: var(--color-pink);
}

.project-themes {
    margin-bottom: 2rem;
}

.convo {
    grid-column-end: 13;
    grid-column-start: 1;
    margin: 2rem auto;
    max-width: 40rem;
}

.convo p {
    background-color: var(--color-transparent-black);
    border-radius: .2rem;
    font-size: 1rem;
    margin: .5rem;
    max-width: 20rem;
    padding: .5rem 1rem;
    text-align: left;
}

.convo-user strong {
    background-color: var(--color-pink);
    color: white;
    padding: .5rem;
}

.convo-user p {
    background-color: rgba(216, 77, 174, .1);
}

.convo-product p {
    background-color: var(--color-transparent-black);
}

.convo-product strong {
    background-color: var(--color-dark-grey);
    color: white;
    padding: .5rem;
}

.convo-user {
    align-items: center;
    display: flex;
}

.convo-product {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.strong-even {
    background-color: var(--color-pink);
    color: white;
    margin: .5rem;
    padding: .5rem;
}

.strong-odd {
    background-color: var(--color-dark-grey);
    color: white;
    margin: .5rem;
    padding: .5rem;
}

.task-flow {
    display: flex;
    grid-column-end: 13;
    grid-column-start: 1;
    justify-content: center;
    margin: 2rem auto;
    max-width: 40rem;
}

.design-retrospective {
    grid-column-end: 13;
    grid-column-start: 1;
}

.design-retrospective p:first-child {
    color: var(--color-pink);
}

video {
    grid-column-end: 6;
    grid-column-start: 1;
    height: auto;
    margin: 1rem auto;
    width: 100%;
}

.main-portfolio-piece .link-img:hover {    
    box-shadow: 0 0 2px var(--color-transparent-black), 0 15px 20px -10px var(--color-transparent-black);
}

.main-portfolio-piece .img-ideation {
    grid-column: span 6;
}

.main-portfolio-piece section {
    grid-column-end: 6;
    grid-column-start: 1;
}

.article-311 h1 {
    color: #008B43;
}

.article-311 video {
    grid-column-end: 13;
    grid-column-start: 7;
    margin: .5rem auto 2rem;
}

.proto-gif {
    margin: 1rem auto;
}   

.datatune-screens {
    background-color: black;
    box-sizing: border-box;
    padding: 1rem;
}

.main-portfolio-piece .image-data {
    margin: 0;
}

.main-portfolio-piece a:focus {
    transform: none;
}

@media ( min-width: 556px ) {

    .hero-datatune {
        background-image: url(images/datatune/datatune-hero.png);
    }
}

@media ( min-width: 568px ) {

    .main-portfolio-piece ul {
        list-style: none;
    }
}

@media ( min-width: 760px ) {

    .main-portfolio-piece ul {
        column-width: 220px;
        margin: auto;
        max-width: 760px;
        padding: 1rem;
    }

    .pull-quote {
        margin: .5rem auto 2rem;
    }

    .case-study-list {
        margin: 0 2rem;
        text-align: center;
    }
}

@media ( min-width: 800px ) {

    .user-feedback-2 {
        margin: 2rem auto 2rem;
    }

    .insight {
        margin: .5rem auto 2rem;
    }
}

@media ( min-width: 1020px ) {

    .main-portfolio-piece article {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(12,1fr);
        justify-items: center;
        margin: 0 6rem;
    }

    .main-portfolio-piece h2 {
        grid-column-end: 13;
        grid-column-start: 1;
    }

    .main-portfolio-piece h3 {
        grid-column-end: 13;
        grid-column-start: 1;
    }

    .main-portfolio-piece h4 {
        font-size: 3.157rem;
        grid-column-end: 13;
        grid-column-start: 1;
    }

    .main-portfolio-piece p {
        align-self: center;
        grid-column-end: 13;
        grid-column-start: 1;
    }

    .main-portfolio-piece .proto-gif {
        grid-column-end: 5;
        grid-column-start: 1;
    }

    .main-portfolio-piece .proto-text {
        grid-column-end: 13;
        grid-column-start: 7;
    }

    .main-portfolio-piece img {
        grid-column-end: 12;
        grid-column-start: 2;
    }

    .pull-quote {
        grid-column-end: 13;
        grid-column-start: 1;
    }

    .case-study-list {
        align-self: center;
        grid-column-end: 11;
        grid-column-start: 3;
    }

    .important-paragraph-text {
        grid-column-end: 11;
        grid-column-start: 3;
    }
    
    .user-feedback-2 {
        grid-column: span 4;
    }

    .insight {
        align-self: center;
        grid-column-end: 13;
        grid-column-start: 1;
    }

    .project-themes {
        grid-column-end: 11;
        grid-column-start: 3;
    }

    .convo-user {
        margin-right: 20rem;
    }
}


  