@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

html {
    color: rgb(99, 99, 99);
    font-family: 'Lato', arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    margin: 0;
}

nav {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin: .5rem 1rem 0;
}

main {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    margin: 2rem 0 1rem;
    padding: 0 .5rem;
    text-shadow: 4px 4px 4px rgba( 0, 0, 0, .1);
}

h2 {
    text-shadow: 4px 4px 4px rgba( 0, 0, 0, .1);
}

img {
    display: block;
    max-width: 100%;
}

.icon-down-arrow {
    animation: pulse 2s infinite;
    background-color: rgba( 0, 0, 0, .2);
    border-radius: 50%;
    right: 1rem;
    max-width: 1.2rem;
    padding: 1rem;
    position: absolute;
    top: 40rem;
}

header {
    left: 0;
    opacity: .9;
    position: fixed;
    right: 0;
    z-index: 1;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    padding-top: 2rem;
}

nav a {
    background-color: rgba( 0, 0, 0, .5);
    border-radius: .2rem;
    color: #fafafa;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav a:hover {
    background: linear-gradient(45deg, rgb(188, 162, 213) 0%, aquamarine 100%);
    color: #fafafa;
    transition: all .3s ease-in-out;
}

.escape-hatch {
    background: linear-gradient(45deg, rgb(188, 162, 213) 0%, aquamarine 100%);
    border-radius: .2rem;
    padding-left: .5rem;
}

nav svg {
    height: 3rem;
    width: 3rem;
}

.paragraph-featured {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 1rem auto 1rem;
    max-width: 40rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.shadow-pop-tl:hover {
	animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

footer {
    margin-top: 4rem;
    padding: 1rem;
}

footer small {
    margin-bottom: 1rem;
}

footer ul {
    margin-bottom: 1rem;
    padding: 0;
}

footer li {
    display: block;
}

footer a {
    color: #b3b3b3;
    font-size: .8rem;

    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer a:hover {
    color: #000;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

@keyframes shadow-pop-tl {

    0% {
        box-shadow: 0 0 #383838, 0 0 #383838, 0 0 #383838, 0 0 #383838, 0 0 #383838, 0 0 #383838, 0 0 #383838, 0 0 #383838;
        transform: translateX(0) translateY(0);
    }

    100% {
        box-shadow: -1px -1px #383838, -2px -2px #383838, -3px -3px #383838, -4px -4px #383838, -5px -5px #383838, -6px -6px #383838, -7px -7px #383838, -8px -8px #383838;
        transform: translateX(8px) translateY(8px);
    }
}

@keyframes pulse {

    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    55% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

}

@media ( max-width: 367px ) {

    nav li a:hover {
        background: none;
        border-radius: .2rem;
        color: #000;
        transition: all .3s ease-in-out;
    }
    nav ul {
        margin: 0;
    }

    nav li {
        display: block;
    }
}

@media ( min-width: 760px ) {

    html {
        font-size: 18px;
    }

    footer {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }

    footer li {
        display: inline-block;
        padding: 0;
    }

    footer a {
        padding: .5rem 1rem .5rem 0;
    }

}

/*----------------------------
Portfolio Componant
----------------------------*/

.portfolio {
    margin: auto;
}

.portfolio h2 {
    color: rgb(99, 99, 99); 
    margin: 0;   
    padding: .5rem;
}

.portfolio-card {
    background-color: white;
    border: 1px solid #f4f4f4;
    margin: 1rem auto 2rem;
    max-width: 400px;
    position: relative;
    transition: all .5s ease;
}

.portfolio-card:hover {
    box-shadow: 0 0 2px rgba(109, 79, 79, .2), 0 15px 20px -10px rgba( 0, 0, 0, .2);
}

.portfolio-card h5 {
    margin: .5rem 1rem 0rem;
}

.portfolio-card p {
    font-size: 1.33rem;
    margin: 0;
    padding: 0 1rem .5rem;
}

@media (min-width: 660px) {
    .portfolio-list {
        align-items: start;
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

    .portfolio-card {
        margin: 1rem 0 0;
    }
}

@media (min-width: 1030px) {

    .portfolio-list {
        grid-column-gap: 2rem;
    }

    .portfolio h2 {
        font-size: 4.209rem;
    }

    .portfolio-list {
        grid-template-columns: repeat(3, 1fr)
    }

}


.main-portfolio-piece {
    background-color: none;
}

.main-portfolio-piece article {
    margin: 1rem 1rem;
}

.main-portfolio-piece h1 {
    grid-column-start: 1;
    grid-column-end: 13;
}

.main-portfolio-piece h2 {
    font-size: 2.369rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.main-portfolio-piece h3 {
    font-size: 2rem;
    text-align: center;
}

.main-portfolio-piece h4 {
    font-size: 1.666rem;
    margin: 1rem;
    text-align: center;
}

.main-portfolio-piece p {
    color: #000;
    font-size: 1.333rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 760px;
    padding: .5rem .5rem 1rem;
    text-align: center;
}

.main-portfolio-piece ul {
    grid-column-end: 13;
    grid-column-start: 1;
}

.dd-info {
    background-color: #91d3ed;
    margin: .5rem 0 2rem;
}

.pull-quote {
    background-color: #fff;
    border-radius: .4rem;
    box-shadow: -6px -6px #383838;
    margin: .5rem 0 2rem;
    max-width: 700px;
    padding: 1rem 2rem;
}

.pull-quote p {
    color: #000;
    padding: 0;
}

.pull-quote em {
    font-size: 2.369rem;
    font-weight: 500;
}

.main-portfolio-piece ul {
    column-width: 220px;
    margin: 1rem 2rem;
    max-width: 760px;
    padding: 1rem;
    text-align: left;
}

.main-portfolio-piece li {
    color: #000;
    font-size: 1.333rem;
    padding: .5rem 0;
}

.main-portfolio-piece img {
    border-radius: .4rem;
    margin: .5rem auto 2rem;
}

.main-portfolio-hero {
    background-attachment: fixed;
    background-image: url(images/content-isometric.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}

.user-feedback-2 {
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: -6px -6px #383838;
    border-radius: .4rem;
    margin: .5rem auto 2rem;
    max-width: 400px;
    padding: 1rem 2rem;
}

.user-feedback-2 h2 {
    padding-top: 0;
}

.user-feedback-2 h4 {
    font-size: 1.666rem;
    text-align: center;
}

.insight {
    background-color: white;
    box-shadow: -6px -6px #383838;
    border-radius: .4rem;
    margin: .5rem .5rem 2rem;
    max-width: 700px;
    padding: 1rem 2rem;
}

.insight p {
    color: #000;
    font-size: 1.333rem;
}

.usability-icon {
    background-color: #91d3ed;
}

.important-paragraph-text a {
    color: #91d3ed;
    text-decoration: none;
}

.important-paragraph-text a:visited {
    color: #91d3ed;
}

.important-paragraph-text a:hover {
    color: #6095aa;
    text-decoration: none;
}
@media (min-width: 300px) {
    .proto-gif {
        margin: 1rem auto;
    }
}

@media (min-width: 568px) {
    .main-portfolio-piece ul {
        list-style: none;
    }
}

@media (min-width: 760px) {
    .main-portfolio-piece h2 {
        font-size: 3.157rem;
    }

    .main-portfolio-piece ul {
        column-width: 220px;
        margin: auto;
        max-width: 760px;
        text-align: left;
        padding: 1rem;
    }

    .pull-quote {
        margin: .5rem auto 2rem;
    }

    .case-study-list {
        margin: 0 2rem;
        text-align: center;
    }
}

@media (min-width: 800px) {


    .user-feedback-2 {
        margin: 2rem auto 2rem;
    }

    .insight {
        margin: .5rem auto 2rem;
    }
}

@media (min-width: 1020px) {
    .main-portfolio-piece article {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(12,1fr);
        justify-items: center;
        margin: 0 6rem;
    }

 
    .main-portfolio-piece h2 {
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .main-portfolio-piece h3 {
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .main-portfolio-piece h4 {
        font-size: 3.157rem;
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .main-portfolio-piece p {
        align-self: center;
        font-size: 1.333rem;
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .main-portfolio-piece .proto-gif {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .main-portfolio-piece .proto-text {
        grid-column-start: 6;
        grid-column-end: 13;
    }

    .main-portfolio-piece img {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    .pull-quote {
        grid-column-start: 1;
        grid-column-end: 13;
    }

    .case-study-list {
        align-self: center;
        grid-column-start: 3;
        grid-column-end: 11;
    }
    .case-study-list ul {
        font-size: 1.333rem;
        text-align: center;
    }

    .case-study-list h3 {
        margin-bottom: 0;
    }

    .main-portfolio-piece .important-paragraph-text {
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .user-feedback-2 {
        grid-column: span 4;
    }

    .insight {
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 13;
    }
}


/*----------------------------
IBM Challenge Componant
----------------------------*/

.ibm-hero {
    background-image: url(images/IBM\ Design\ Challenge\ -\ Joseph\ Postiglione\ \(7\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}

.ibm-main {
    margin-top: 1rem;
}

.ibm-main article {
    text-align: center;
}

.ibm-main h1 {
    margin-top: 2rem;
}

.ibm-main h2 {
    font-size: 3.157rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.ibm-main h4 {
    margin: 1rem;
}

.ibm-main p {
    margin: auto;
    max-width: 800px;
    padding: 0 1rem 1rem;
}

.ibm-main a {
    color: #91d3ed;
    text-decoration: none;
}

.ibm-main a:visited {
    color: #91d3ed;
}

.ibm-main a:hover {
    color: #6095aa;
    text-decoration: underline;
}

.ibm-main img {
    border-radius: .4rem;
    margin-bottom: 1rem;
}

@media (min-width:800px) {
    .ibm-main {
        margin: 1rem auto;
    }

    .ibm-main img {
        margin: 1rem auto;
        max-width: 1000px;
    }

    .ibm-main h4 {
        font-size: 2.639rem;
        font-weight: 500;
    }

    .ibm-main p {
        font-size: 1.333rem;
        font-weight: 200;
    }
}


.about-main h2 {
    border-bottom: 1px solid #000;
    color: rgb(99, 99, 99); 
    margin-bottom: 1rem;
    padding: .5rem;
}

.about-main {
    margin: auto;
    max-width: 488px;
}

.about-main section {
    display: inline-block;
}

.about-main section div {
    margin: 0 auto;
    max-width: 488px;
}

.about-main img {
    border-radius: .4rem;
}

.link-email {
    background: linear-gradient(45deg, rgb(188, 162, 213) 0%, aquamarine 100%);
    border-radius: .2rem;
    color: #fafafa;
    font-size: 1.2rem;
    max-width: 8rem;
    padding: .75rem 1.5rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.link-email:hover {
    box-shadow: 2px 2px 4px rgba( 0, 0, 0, .2);
}

@media (min-width: 1030px) {


    .about-main {
        align-items: center;
        margin: auto;
        max-width: 1000px;
    }

    .about-main section {
        align-items: start;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .paragraph-about-me {
        font-size: 1.5rem;
        line-height: 1.4;
        margin: 0;
    }
}
@media (min-width: 1030px) {

    .about-main h2 {
        font-size: 4.209rem;
    }
}

.profile-image {
    background-image: url(images/joey-marfa.jpg);
    background-size: contain;
    height: 40vh;
    background-repeat: no-repeat;
}

.resume {
    margin: auto;
    max-width: 100%;
    padding-bottom: 1rem;
}

.resume h1 {
    margin-bottom: 1rem;
}

.resume h2 {

    color: rgb(99, 99, 99); 
    font-size: 4.209rem;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: .5rem;
}

.resume-mobile {
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.resume-desktop {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .8);
    display: none;
}

@media (min-width: 800px) {

    .resume-desktop {
        display: block;
        margin: auto;
        max-width: 1000px;
    }

    .resume-mobile {
        display: none;
    }
}


.icon-instagram {
    padding-right: .5rem;
    width: 3rem;
}

.link-instagram {
    color: #383838;
    align-items: center;
    display: flex;
    font-family: cursive;
    justify-content: flex-start;
    margin: 1rem auto 0;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.link-instagram:hover {
    text-shadow: 1px 1px 4px rgb(188, 162, 213);
    transition: all .3s ease-in-out;
}

.link-instagram p {
    margin: 0;
}

.hero-datatune {
    background-image: url(images/datatune/datatune-hero-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 60vh;
}

@media ( min-width: 700px ) {

    .hero-datatune {
        background-image: url(images/datatune/datatune-hero.png);
    }
}

.main-portfolio-piece a {
    border-radius: .4rem;
    box-shadow: 0 0 2px rgba( 0, 0, 0, .3), 0 15px 20px -10px rgba( 0, 0, 0, .3);
    grid-column-start: 3;
    grid-column-end: 11;
    transition: all .3s ease-in-out;
}


.main-portfolio-piece a:hover {
    box-shadow: 0 0 2px rgba( 0, 0, 0, .6), 0 15px 20px -10px rgba( 0, 0, 0, .6);
    transition: all .3s ease-in-out;
}

.main-portfolio-piece a img {
    border-radius: .4rem;
    margin: 0;
}

.main-portfolio-piece h2, .main-portfolio-piece h3 {
    margin: 1rem;
    text-align: center;
}

.main-portfolio-piece h3 {
    font-size: 2rem;
}

.article-datatune h1 {
    grid-column-end: 13;
    grid-column-start: 1;
    margin-top: 2rem;
}

.article-datatune h2 {
    color: #E91C8E;
    font-size: 3rem;
}
.article-datatune h3 {
    font-size: 2.5rem;
}

.main-resume, .main-portfolio {
    margin: 0 1rem;
    padding-top: 6rem;
}

.project-themes {
    margin-bottom: 2rem;
}

@media ( min-width: 1020px ) {

    .project-themes {
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .project-themes h4 {
        font-size: 2rem;
    }

    ul li {
        font-weight: 200;
    }
}

.hero {
    background-attachment: fixed;
    background-color: var(--color-sand);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 80vh;
    opacity: .7;
    padding: 2rem;

}

.bg-1 {
    background-image: url(images/florida-statue.jpg);
}

.bg-2 {
    background-image: url(images/nyc-train.jpg);
    min-height: 400px;
}

.bg-3 {
    background-image: url(images/florida-ceiling.jpg);
    min-height: 720px;
}

.bg-4 {
    background-image: url(images/joey-marfa.jpg);
    min-height: 240px;
}

.bg-5 {
    background-image: url(images/willie-and-littlefoot.JPG);
    min-height: 500px;
}

.text-container {
    align-items: center;
    color: rgb(99, 99, 99);
    background-color:white;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    text-align: center;
}

.text-container h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.text-container p {
    font-size: 1rem;
    max-width: 35rem;
    text-align: justify;
}

.convo {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0 auto 2rem;
    max-width: 40rem;
}

.convo p {
    background-color: rgba( 0, 0, 0, .1);
    border-radius: .4rem;
    font-size: 1rem;
    margin: .5rem;
    max-width: 20rem;
    padding: .5rem 1rem;
    text-align: left;
}

.convo-user strong {
    background-color: #E91C8E;
    color: white;
    padding: .5rem;
}

.convo-user p {
    background-color: rgba(216, 77, 174, 0.1);
}

.convo-product p {
    background-color: rgba( 0, 0, 0, .1);
}

.convo-product strong {
    background-color: #383838;
    color: white;
    padding: .5rem;
}

.convo-user {
    align-items: center;
    display: flex;
}

.convo-product {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.strong-pink {
    background-color: #E91C8E;
    color: white;
    margin: .5rem;
    padding: .5rem;
}

.strong-grey {
    background-color: #383838;
    color: white;
    margin: .5rem;
    padding: .5rem;
}

.task-flow {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 13;
    justify-content: center;
    margin: auto;
    max-width: 40rem;
}

@media ( max-width: 499px) {

    .hero {
        background-attachment: scroll;
    }
}

@media ( min-width: 1020px ) {

    .convo-user {
        margin-right: 20rem;
    }
}

.design-retrospective {
    grid-column-start: 1;
    grid-column-end: 13;
}

.design-retrospective p:first-child {
    color: #E91C8E;
}

video {
    grid-column-start: 1;
    grid-column-end: 6;
    height: auto;
    margin: auto;
    width: 100%;
}

p .link-text {
    box-shadow: none;
    color: #E91C8E;
    text-decoration: none;
}

p .link-text:hover {
    box-shadow: none;
    color: #91d3ed;
}

.main-portfolio-piece .link-img:hover {    
    box-shadow: 0 0 2px rgba( 0, 0, 0, .3), 0 15px 20px -10px rgba( 0, 0, 0, .3);
}